<h3>以下の内容で、送信する。</h3>

<%= form_with(model: @post, url: posts_path, local: true) do |form| %>
  <%= form.hidden_field :grans_name %>
  <%= form.hidden_field :grans_image %>
  <%= form.hidden_field :plants_name %>
  <%= form.hidden_field :plants_image %>

  <p>名前:<%= @post.grans_name %></p>
  <p>画像:<%= @post.grans_image %></p>
  <p>植物の名前:<%= @post.plants_name %></p>
  <p>画像:<%= @post.plants_image %></p>
  <%= form.submit  "登録する" %>
<% end %>

<%= form_with(model: @post, url: new_post_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :grans_name %>
  <%= form.hidden_field :grans_image %>
  <%= form.hidden_field :plants_name %>
  <%= form.hidden_field :plants_image %>
  <%= form.submit "もどる" %>
<% end %>