<%= notice %>
<% @posts.each do |post| %>
  <div class="post-panel grid-item">
    <div class="post-contents" ontouchstart="" > 
      <li><%= link_to post.plants_name, post_path(post.id) %><%=  %></li>
      <li><%= link_to image_tag(post.plants_image.url), post_path(post.id) %></li>
    <% if post.transfer_complete == true %>
      <li class="complete_message alert alert-info">test</li>
    <% end %>
    </div>
  </div>
<% end %>

 <% if user_signed_in? %>
   <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
 <% else %>
   <%= link_to 'Googleでサインアップしてね', user_google_omniauth_authorize_path %>
   <%= link_to 'Facebookでサインアップしてね', user_facebook_omniauth_authorize_path %>
 <% end %>