    <div class="post-contents" ontouchstart="" > 
      <li><%= @post.grans_name %></li>
      <li><%= image_tag(@post.grans_image.url) %></li>
      <li><%= @post.plants_name %></li>
      <li><%= image_tag(@post.plants_image.url) %></li>
      <li><%= link_to "編集する", edit_post_path(@post.id) %></li>
      <li><%= link_to '削除する', post_path(@post.id), method: :delete, data: { confirm: '削除していいですか？' } %></li>
    <% if @post.transfer_complete == true %>
      <li class="complete_message alert alert-info">test</li>
    <% end %>
    </div>